/* En tu archivo CSS */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-message {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; /* Color azul, puedes cambiarlo a tu gusto */
    /* Puedes añadir más estilos según tus preferencias */
  }