*{
    padding: 0;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    box-shadow: 0 2px 6px #f0e76b;
    box-sizing: border-box;

}

/*----------- PRODUCTOS ------------*/
.produ{
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color: #f0e76b;
}
.productos{
    padding: 5rem 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 1rem;
    box-sizing: border-box ;
} 
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.producto:hover{
    border: 6px solid #f0e76b;
    ;
}
.producto__img img{
    width: 310px;
}
.producto__footer{
    padding: 1rem;
}
.producto__footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a202c;
    font-family: Helvetica, sans-serif
    ;
}
.producto__footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.555);
    text-transform: uppercase;
    font-size: 18px;
}
.producto__footer .price{
    font-size: 2rem;
    color: #1a202c;
}
.productos .bottom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 2rem;
}
.bottom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
}
.bottom button{
    background-color: #3033d3;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}
.bottom div{
    background-color:#f0e76b;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
}
.bottom div a{
    color: white;
    font-weight: 700;
}
.bottom div a:hover{
    color: white;
}


/* ------------- RELACIONADO --------- */
.relacionados{
    text-align: center;
    background-color: #2e2e2e;
    color: white;
    max-width: 350px;
    width: 100%;
    margin: 5rem auto -2rem auto;
    padding: .5rem 1rem;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif
    ;
}
