
#topH h1{
    font-size: 60px;
    color: rgb(0,0,0);
    font-family:Helvetica, sans-serif ;
}


#ss{
    padding-top:1%;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }

  #carrusel{
    size: 60%;
  }
#slider-1{
    width: 80%;
    transform: translate(10%, 2%);
}

#midH{
    width: 40%;
    justify-content: center;
    align-items: center;
}
#oferta{
    position: absolute;
    width: 30%;
    transform: translate(170%, 4%);
}
#slider-2{
    transform: translate(20%, 4%);
}